@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background-color: #eae8e3;
    font-family: "Dosis";
}

.uppercase {
    text-transform: uppercase;
}

.condensed {
    letter-spacing: .05rem;
}

.spacing-wide {
    letter-spacing: .3rem;
}

.navbar-start {
    display: flex;
    flex-direction: row;
}

.navbar-title {
    margin-left: .5rem;
    font-size: 2.5rem;
    font-weight: 700;
    align-self: center;
}

.container {
    width: 100%;
    display: flex;
    min-height: 3rem;
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon {
    background: #af7b73;
    aspect-ratio: 1;
    border-radius: 50%;
    min-height: 3rem;
    display: flex;
}

.navbar-items {
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-items > *:hover {
    transform: scale(1.05);
    color: #efba30;
}
